<header>
    <nav>
        <ul id="page-nav">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <ul id="brand-icons">
            <li>
                <a href="https://www.instagram.com/secondwave.boutique/">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/p/Second-Wave-Boutique-61555474899266/">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
        </ul>
        <span id="nav-underline"></span>
    </nav>
</header>
