#nav-underline {
    left: 150px;
}
.about-description {
    font-size: 16.5px;
    margin-bottom: 10%;
}
.top-about-image {
    width: 100%;
    height: auto;
    transition: 0.3s ease-in-out;
}

.Opening-word {
    margin: 0;
}

.opening-date {
    padding-left: 4%;
    padding-bottom: 3.5%;
    margin: 0;
}

.main-img {
    width: 75%;
    margin-left: 13%;
    margin-right: 13%;
}

.img2,
.jess1 {
    padding-top: 6%;
    width: 45%;
}

.img2 {
    padding-left: 2%;
}

.jess1 {
    margin-left: 5%;
}
