footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

footer div {
    width: 25%;
}

footer h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}

footer p,
footer a,
footer i {
    margin-bottom: 10px;
    color: #d1d1d1;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
}

footer ul li a i {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer div {
        width: 100%;
        text-align: center;
    }
}
