#main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main-heading > * {
    position: absolute;
    color: #fff;
}

#main-heading .big-image {
    position: relative;
    height: 100vh;
    width: auto;
}

#main-heading > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#hero-logo {
    width: 50%;
    height: auto;
}

#main-heading h2 {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
}

.book-button {
    font-family: "Libre Baskerville", serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #202020;
    background-color: #fbe9fd;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.book-button:hover {
    background-color: #202020;
    color: #fbe9fd;
}
