@font-face {
    font-family: "Libre Baskerville";
    src: url("../assets/fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../assets/fonts/SourceSansPro-Regular.otf");
}

* {
    box-sizing: border-box;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

#content {
    margin: 0 auto;
    padding: 1rem;
    max-width: 800px;
}

.big-image {
    width: 100%;
    height: auto;
}

.dim {
    filter: brightness(0.5);
}
